@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

body {
  background: url("ManchesterUnitedHomePage3.jpg") no-repeat center fixed;
  background-color: #fff;
  background-size: cover;
  display: flex;
  font-family: "Bebas Neue", cursive;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  margin: 0;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* 1 Quiz Container */

.maintitle {
  font-size: 56px;
  color: #fff;
  background-color: #c70101;
  font-family: BebasNeueBold, Helvetica, sans-serif;
}

h2 {
  font-size: 16px;
  color: #c70101;
  font-family: BebasNeueBold, Helvetica, sans-serif;
  text-align: center;
}

.quiz-container {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 400px;
  margin: 0px auto;
  overflow: hidden;
  background-color: aquamarine;
}

/* 1a Category container */
.category-container {
  background-color: aqua;
  display: block;
}

.category-container li {
  width: 100%;
  letter-spacing: 2px;
  border-radius: 5px;
  font-weight: 500;
  border: 1.5px solid #ccc;
  font-size: 16px;
  background-color: #c70101;
  color: #fff;
  transition: all 300ms ease-in-out;
  font-family: SourceSansProSemiBold, Helvetica, sans-serif;
  line-height: 50px;
  padding: 0 32px;
  text-align: center;
  margin: 0.9rem 0;
  cursor: pointer;
}

/* 1b Question container */

.question-container {
  background-color: blue;
  display: none;
  padding: 10px;
  margin: 20px;
}

.progress {
  background-color: cadetblue;
  width: 100%;
  max-width: 600px;
  margin: 10px auto 0;
  display: block;
  position: relative;
  text-align: center;
}

#progress-bar {
  background-color: crimson;
  position: absolute;
  background: #c70101;
  height: 10px;
  transition: width 0.5s ease-in-out;
}

.question-text {
  color: #fff;
  font-family: BebasNeueBold, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  margin-bottom: 29px;
  font-size: 22px;
  line-height: 24px;
}

.answers {
  padding-top: 10px;
  background-color: yellow;
}

.answers li {
  margin: 10px, 10px;
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
  font-family: SourceSansProRegular, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  border-radius: 10px;
  font-weight: 500;
  padding: 0.7rem 1.2rem 0.7rem 0.6rem;
  cursor: pointer;
  border: 1.5px solid #c70101;
  background-color: #c70101;
  color: #fff;
  transition: all 300ms ease-in-out;
  align-items: center;
}

.answers li:hover {
  background-color: #c70101;
  transform: translate(-0.2rem);
  transition: transform 150ms;
  color: #fff;
}

/* <!-- 1c Results Container --> */

.results-container {
  background-color: crimson;
  padding: 10px;
  margin: 20px;
  display: none;
}

.result-container ul {
  padding-top: 30px;
}

.result-container li {
  margin: 0px, 0px;
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
  font-family: SourceSansProRegular, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  border-radius: 10px;
  font-weight: 500;
  padding: 0.7rem 1.2rem 0.7rem 0.6rem;
  border: 1.5px solid #c70101;
  background-color: lightgray;
  color: #fff;
  transition: all 300ms ease-in-out;
  align-items: center;
}

.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 150px;
  width: 150px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {
  height: 170px;
  width: 170px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

/* <!-- 1d Your Results Container --> */
.your-results-container {
  background-color: purple;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  display: none;
}
.show-results {
  margin-top: 20px;
  background-color: transparent;
  text-align: center;
}

button {
  border: 1px solid rgba(199, 1, 1, 0.2);
  background: #c70101;
  /* z-index: 9; */
  position: relative;
  /* margin-right: 10px; */
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  font-family: SourceSansProRegular, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 500;
  /* padding: 0.7rem 1.2rem 0.7rem 0.6rem; */
  cursor: pointer;
}

/* 1e Your answers container */

.your-answers-container {
  background-color: darkgreen;
  padding: 10px;
  margin: 20px;
  display: none;
}

.your-answers {
  margin-top: 40px;
  cursor: pointer;
  font-family: BebasNeueBold, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #c70101;
  font-style: normal;
  text-align: center;
}

.your-answers span {
  font-style: normal;
  margin-left: 2%;
}
