@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

body {
  background: url("images/ManchesterUnitedHomePage2.jpg") no-repeat center fixed;
  background-color: #010f1c;
  background-size: cover;
  display: flex;
  font-family: "Bebas Neue", cursive;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  margin: 0;
  color: #fff;  
}

ul {
  list-style-type: none;
  padding: 0;
}

/* 1 Quiz Container */

.maintitle {
  font-size: 48px;
  color: #fff;
  background-color: #c70101;
  font-family: BebasNeueBold, Helvetica, sans-serif;
}

h2 {
  font-size: 20px;
  color: #c70101;
  font-family: BebasNeueBold, Helvetica, sans-serif;
  text-align: center;
}

.quiz-container {
  background-color: transparent;
  border-radius: 5px;
  width: 300px;
  margin: 0px auto;
  overflow: hidden;
  /* background-color: aquamarine; */
}

/* 1a Category container */
  .category-container {
  padding-top: 40px;
  display: block;
}

h3 {
  margin-top: -60px;
  color: #c70101;
  text-align: center;
}

.category-container li {
  width: 100%;
  letter-spacing: 2px;
  border-radius: 5px;
  font-weight: 500;
  border: 1.5px solid #ccc;
  font-size: 16px;
  background-color: #c70101;
  color: #fff;
  transition: all 300ms ease-in-out;
  font-family: SourceSansProSemiBold, Helvetica, sans-serif;
  line-height: 50px;
  margin-top: 10px;
  padding: 0 32px;
  text-align: center;
  cursor: pointer;
}

/* 1b Question container */

.question-container {
  display: none;
  padding: 10px;
  margin-top: -40px;
  
}

div.image {
  max-width: 100%;
  display: none;
  width: 300px; 
  height: 150px;
  margin: 0 auto;
  padding:0; 
  background-repeat: no-repeat;  
}

.progress {
  width: 100%;
  max-width: 300px;
  margin: 10px auto 0;
  display: block;
  position: relative;
  text-align: center;
}
#progress-bar {
  position: absolute;
  background: #c70101;
  height: 10px;
  transition: width 0.5s ease-in-out;
}
.question-text {
  color: #fff;
  font-family: BebasNeueBold, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  font-size: 16px;
  /* line-height: 24px; */
}

.answers {
  margin-top: -10px;
  padding-top: 10px;
}

.answers li {
  /* margin: 10px, 10px; */
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
  font-family: SourceSansProRegular, Helvetica, sans-serif;
  font-size: 18px;
  /* line-height: 24px; */
  letter-spacing: 2px;
  border-radius: 10px;
  font-weight: 500;
  padding: 0.7rem 1.2rem 0.7rem 0.6rem;
  cursor: pointer;
  border: 1.5px solid #c70101;
  background-color: #c70101;
  color: #fff;
  transition: all 300ms ease-in-out;
  align-items: center;
}

.answers li:hover {
  background-color: #c70101;
  transform: translate(-0.2rem);
  transition: transform 150ms;
  color: #fff;
}

/* <!-- 1c Results Container --> */

.results-container {
  padding: 10px;
  margin: 20px;
  display: none;
}

.results-container h2{
  padding-bottom: 40px;
}

.result-container ul {
  padding-top: 30px;
}

.result-container li {
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
  font-family: SourceSansProRegular, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  border-radius: 10px;
  font-weight: 500;
  padding: 0.7rem 1.2rem 0.7rem 0.6rem;
  border: 1.5px solid #c70101;
  background-color: lightgray;
  color: #fff;
  transition: all 300ms ease-in-out;
  align-items: center;
}
/* 
.circle-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 150px;
  width: 150px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {
  height: 170px;
  width: 170px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: transparent;
}

.circle-container h2{
  font-size: 14px;
  padding-top: 40px;
} */

/* <!-- 1d Your Results Container --> */
.your-results-container {
  padding: 10px;
  margin: 20px;
  display: none;
  text-align: center;
}


.show-results {
  margin-top: 20px;
  background-color: transparent;
  cursor:pointer

}

button {
  border: 1px solid rgba(199, 1, 1, 0.2);
  background: #c70101;
  font-family: SourceSansProRegular, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  align-self: center;
}

/* 1e Your answers container */

.your-answers-container{
  display: flex;
  flex-direction: column;
  align-content: center;  
  display:none;  
}


#your-answers {
  font-family: "Bebas Neue", cursive;
  font-size: 12px;
  color: #fff;
  font-style: normal;
  text-align: left;
  
}

#your-answers li {
  padding-left: 5px;
  font-family: "Bebas Neue", cursive;
  color: #c70101;
  background-color: gainsboro;
  font-size: 12px;
 }

 .relative {
  position: relative;
}
/* //credit to https://jsfiddle.net/mgyp0jkk/ for this solution */

.absolute-center {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center{
  text-align: center;
}

p {
  font-size: 1.5rem;
}
